<div>
	<H2><strong>ActionManager</strong></H2>
	<div>
	Available endpoints:
	</div>
	<div>
	<strong>users_with_action:</strong> /users_with_action?action=run
	</div>
	<div>
	<strong>count_users_with_action:</strong> /count_users_with_action?action=run&user_id=1
	</div>
	<div>
	<strong>has_user_performed_action:</strong> /has_user_performed_action?user_id=1&action=run
	</div>
	<div>
	<strong>last_time_user_performed_action:</strong> /last_time_user_performed_action?user_id=1&action=run
	</div>
	<div>
	<strong>list_all_users_who_performed_action_at:</strong> /list_all_users_who_performed_action_at?timestamp=
	</div>
	<div>
	<strong>last_time_action_performed:</strong> /last_time_action_performed?action=walk
	</div>
	<H2>Local Deployment</H2>
	<p>Follow the setup instructions for RVM: https://rvm.io/rvm/install<p>
	<p>Install ruby-2.2.5</p>
	<p>gem install bundle</p>
	<p>bundle install</p>
	<p>rake db:create</p>
	<p>rake db:migrate</p>
	<p>rake db:seed</p>
	<p>Start up application: ruby action_manager.rb</p>
	
</div>