%form{ :action => "", :method => "post"}
   %fieldset
      %ol
         %li
            %label{:for => "name"} Name:
            %input{:type => "text", :name => "name", :class => "text"}
      %input{:type => "submit", :value => "Create", :class => "button"}